*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}


html{
    scroll-behavior: smooth;
}

.main-head,
.skill-wrapper{
    font-family: "Fira Code", serif;
}

.corner-image {
    position: absolute;
    transition: transform 0.3s ease, bottom 0.3s ease, left 0.3s ease;
  }
  
  .corner-image:hover {
    transform: scale(1.1); /* Slightly enlarge the image */
    bottom: 40px; /* Move closer to the bottom */
    left: 50px; /* Move closer to the left */
  }

.skill-card{
    transition: transform 0.3s, box-shadow 0.3s;
}
.skill-card:hover {
    transform: translateY(-10px) scale(1.05);
  }
